// ==========================================================================
// Config
// Define variables, maps and fonts at this partial.
// ==========================================================================

//Enter your Web Address here for print media
$domain-name: "www.domain-name.com";

//Text
$base__font-size: 16px;
$base__line: 24px;

//Font Stacks

//$font-url--google : abc;

// $typefaces
// Configuration of webfonts imports.
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

//$typefaces: (
//  'FILENAME': (
//    family: 'fontname',
//    weight: 100,
//    style: normal,
//  ),
//);

$font-family-sans-fallback: "Arial", sans-serif;
$font-family-sans: "Source Sans Pro", "Helvetica Neue", "Helvetica",
    $font-family-sans-fallback;
$font-family-serif: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$font-family-monospace: "Inconsolata", "Menlo", "Consolas",
    "Bitstream Vera Sans Mono", "Courier", monospace;
$font-family-sans-serif: "Muli", sans-serif;
$font-family--primary: $font-family-sans-serif;
$font-family--secondary: $font-family-sans-serif;

//Colors

$blue: #3a539b;
$red: #ef5350;
$white: #fff;
$black: #000;
$light: #e6ecef;
$dark-gray: #666666;
$gray: #9e9e9e;
$light-blue: #42a5f5;
$yellow: #ffca28;
$green-active: #2dcc70;
$green: #66bb6a;
$whitish: #f4f7f9;

//Message Colors
$error: lighten($red, 5%) !default;
$success: $green !default;
$edit: $yellow !default;

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1152px;

//UI Colors
$ui-colors: (
    default: $blue,
    success: $success,
    error: $error,
    warning: $edit
);

//Color Palette
$palettes: (
    gray-shades: (
        base: $gray,
        dark: darken($gray, 20%),
        light: lighten($gray, 20%)
    ),
    blue-shades: (
        base: $blue,
        dark: darken($blue, 20%),
        light: lighten($blue, 20%)
    )
);

//Font size variables
$default-font-size: $base__font-size - 2px;
$small-font-size: $default-font-size - 2px;
$lg-font-size: $default-font-size + 2px;

//Heading font size vairables
$heading-line-height: 28px !default;
$head1-font-size: 24px !default;
$head2-font-size: $head1-font-size - 8px !default;
$head3-font-size: $head1-font-size - 10px !default;
$head4-font-size: $head1-font-size - 12px !default;

//Color Usage
$primary-color: $white;
$secondary-color: $black;
$accent-color: $gray;
$shadow-color: rgba($black, 0.2);
$border-color: $light;
$color-text: $dark-gray;
$color-link: $dark-gray;
$color-warn: $yellow;
$color-success: $green;
$color-danger: $red;
$color-state--blue: $light-blue;
$color-state--green: $green-active;

//Path to Assets
$path--rel: "../images";
