.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 22.5em;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 360px) and (max-width: 1152px) {
    .container {
        max-width: 48em;
        padding: 0 24px;
    }
}

@media screen and (min-width: 1152px) {
    .container {
        max-width: 72rem;
        padding: 0 24px;
    }
}

/* status block starts*/
.status {
    & > :first-child {
        margin-right: 5px;
    }

    @include e(text) {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        display: inline-block;
        @include m(warn) {
            color: $color-warn;
        }
    }

    @include e(icon) {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

        @include m(success) {
            background: $color-success;
        }

        @include m(warn) {
            background: $color-warn;
        }

        @include m(danger) {
            background: $color-danger;
        }
    }
}
/* status block ends*/
