.profile {
  margin: 0 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include e(image) {
    width: 36px;
    height: 36px;
    background-color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #42a5f5;
    }
  }

  @include e(name) {
    text-align: center;
    margin-top: 4px;
    text-transform: capitalize;

    & img {
    }
    font-size: $s-font-size;
  }

  @include e(id) {
    color: $white;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
  }

  &:hover {
    border-color: #42a5f5;
    color: #42a5f5;
  }
}
