/* status block starts*/
.status {
  & > :first-child {
    margin-right: 5px;
  }

  @include e(text) {
    font-weight: 600;
    font-size: $default-font-size;
    text-transform: uppercase;
    display: inline-block;
    @include m(warn) {
      color: $color-warn;
    }
  }

  @include e(icon) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;

    @include m(success) {
      background: $color-success;
    }

    @include m(warn) {
      background: $color-warn;
    }

    @include m(danger) {
      background: $color-danger;
    }
  }
}
/* status block ends*/
